<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--引入一些基础配置信息文件-->
    <properties resource="database.properties">
    </properties>

    <settings>
        <!--打开二级缓存总开关-->
        <setting name="cacheEnabled" value="true"/>
    </settings>
    <!--类型别名-->
    <typeAliases >
        <package name="com.kim.mybatis.pojo"/>
    </typeAliases>
    <environments default="dev">    <!--配置环境，指定默认环境，开发、测试、生产-->
        <environment id="dev">  <!--开发环境-->
            <transactionManager type="JDBC"/>   <!--使用jdbc的事务-->
            <dataSource type="POOLED">  <!--使用连接池-->
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
  
    <mappers>
        <mapper resource="mapper/UserMapper.xml"/>
        <mapper resource="mapper/GoodsMapper.xml"/>
        <!--<mapper class="com.kim.mybatis.mapper.UserMapper"/>-->
        <mapper class="com.kim.mybatis.mapper.OrderMapper"/>
    </mappers>

</configuration>